<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: html_head(pageTitle='Edit Product')" />
<body>
	<div th:replace="fragments :: header"></div>
	<div align="center">
		<h1>Edit Product</h1>
		<br/>
		<form action="#" th:action="@{/save}" th:object="${product}" method="post">
			<table>
				<tr>
					<td>Product ID:</td>
					<td><input type="text" th:field="*{id}" readonly="readonly" /></td>
				</tr>			
				<tr>
					<td>Product Name:</td>
					<td><input type="text" th:field="*{name}" /></td>
				</tr>
				<tr>
					<td>Brand:</td>
					<td><input type="text" th:field="*{brand}" /></td>
				</tr>				
				<tr>
					<td>Made in:</td>
					<td><input type="text" th:field="*{madein}" /></td>
				</tr>				
				<tr>
					<td>Price:</td>
					<td><input type="text" th:field="*{price}" /></td>
				</tr>				
				<tr>
					<td colspan="2"><button type="submit" class="btn btn-primary">Save</button></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>